<form [formGroup]="form" novalidate>
    <mat-list>
        <mat-list-item>
            <mat-form-field class="form-field-input-data">
                <input 
                    matInput 
                    placeholder="Data"
                    readonly="readonly"
                    formControlName="data"
                    [matDatepicker]="date" 
                    >
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #date></mat-datepicker>
            </mat-form-field>
        </mat-list-item>

        
        <div class="list-item-selects-content">
            <mat-list-item class="form-selects">
                <mat-form-field class="form-field-selects">
                    <mat-select placeholder="Horas" formControlName="horas">
                        <mat-option 
                            *ngFor="let item of hours"
                            [value]="item">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item class="form-selects">
                <mat-form-field class="form-field-selects">
                    <mat-select placeholder="Minutos" formControlName="minutos">
                        <mat-option 
                            *ngFor="let item of minutes"
                            [value]="item">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list-item>
        </div>
            
        

        <mat-list-item>
            <mat-form-field class="form-field-select-type">
                <mat-select placeholder="Tipo" formControlName="tipo">
                    <mat-option 
                        *ngFor="let item of types"
                        [value]="item">{{item | type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>

        <div class="content-button">
            <button 
                class="button"
                mat-raised-button 
                color="primary"
                [disabled]="form.invalid"
                (click)="register()">{{entryId ? 'Atualizar' : 'Cadastrar'}}</button>
            &nbsp;
            <a class="button" mat-button color="primary" routerLink="/admin">Voltar</a>
        </div>
    </mat-list>
</form>