<form [formGroup]="form" novalidate fxLayoutAlign="center">
  <mat-list class="content">
    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" />
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="justify-center">
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Senha"
          formControlName="password"
        />
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="centered">
        <span matTooltip="A senha deve conter ao menos 6 caracteres">
            <mat-icon>help</mat-icon>
        </span>
    </mat-list-item>
    <mat-list-item class="centered">
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        (click)="logon()"
      >
        Entrar
      </button>
    </mat-list-item>
    <mat-list-item>
        <a mat-button color="primary" routerLink="/cadastro-pf">Cadastrar PF</a>
        <a mat-button color="primary" routerLink="/cadastro-pj">Cadastrar PJ</a>
    </mat-list-item>
  </mat-list>
</form>
